<h1>タイトル一覧</h1>
<hr>
<%= @current_user %>

<% @articles.each do |article| %>
<ol>
  <li><%= article.name  %></li>
  <li><%= article.title  %></li>
  <li><%= article.content  %></li>
  <li><%= article.created_at %></li>
</ol>
<% end %>
<hr>
